* {
  margin: 2px;
  padding: 0px;
}
body {
  font-size: 190%;
  background: white;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: black;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form {
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 0px 0px 10px 10px;
}


.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;

}
.input-group input {
  height: 40px;
  margin-right: 100px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
}
.error {
  width: 80%; 
  margin: right 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 60%;
  margin-left: 0px;
}

.container {
  width: 60%;
  margin-top: -50px;
}

.wet {
  border-radius: 20px;
}

.form-control1 {
  border-radius: 2px;
  width:74%;
}

.forma {
  width: 25%;
  height: 0%;
  border-radius: 5px;
}